.login {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
.login > img {
  object-fit: contain;
  height: 7.9rem;
  margin-top: 1.3rem;
}
.login > form {
  display: flex;
  flex-direction: column;
}
.login > form > input {
  width: 21.875rem;
  height: 3.125rem;
  font-size: 1.125rem;
  padding-left: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  outline-color: gray;
}
.login > form > button {
  width: 22.8rem;
  height: 3.125rem;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  background-image: linear-gradient(to bottom, #5a68a5, #4556a0, #3e4c88);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.login__register {
  color: #0074b1;
  cursor: pointer;
}
.login > form > p {
  margin-top: 0.6rem;
  color: #5a68a5;
}

/* .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
    background-color: white;
    padding: 2rem;
    border-radius: 0.8rem;
    width: 30vw;
  }
  .login__input {
    display: flex;
    flex-direction: column;
  }
  .login__input > input {
    height: 3rem;
    margin: 1rem 0;
    outline: none;
    border: 1px solid gray;
    border-radius: 0.4rem;
    font-size: 1.25rem;
    padding-left: 1rem;
    color: black;
  }
  .login > button {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    background-color: rgb(12, 113, 196);
    color: white;
    border-radius: 0.25rem;
    border: none;
  } */
