.timeline {
  flex: 0.2;
  border-left: 1px solid rgba(136, 150, 223, 0.2);
  /* border: 1px solid pink; */
  overflow: hidden;
  text-align: left;
}
.timeline__top {
  display: flex;
  min-height: 14vh;
  align-items: center;
  padding: 0 1rem;
  /* border: 1px solid red; */
}
h3 {
  color: whitesmoke;
}

.timeline__customerInfo {
  display: flex;

  /* border: 1px solid red; */
  /* justify-content: center; */
  align-items: center;
}

.timeline__customerInfo > p {
  overflow-wrap: break-word;
  font-size: 1rem;
  color: whitesmoke;
}
.timeline__customerInfo .MuiAvatar-root {
  border: 2px solid rgb(0, 204, 255);
  border-radius: 1rem !important;
}
.timeline__middle {
  /* border: 1px solid green; */
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.timeline__middle .MuiSvgIcon-root {
  color: #f5f5f5;
}
.timeline__info {
  color: rgba(136, 150, 223, 0.8);
  padding-top: 1rem;
}
.timeline__infoStartTime {
  padding-left: 1rem;
}
.timeline__infoContainer {
  margin-top: 0.5rem;
}
.timeline__infoElement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 1rem 0; */
}
.timeline__infoText > p {
  font-size: 0.75rem;
}

.timeline__infoIcon {
  margin: 0 1rem;
  background: none;
  padding: 0.5rem 0.8rem;
  color: whitesmoke;
  width: max-content;
  background-color: rgba(136, 150, 223, 0.1);
  border-radius: 1rem;
  border: 2px solid transparent;
  box-shadow: -5px -5px 10px -9px #212747, 5px 5px 10px -9px #212747,
    inset 2px 2px 10px rgba(33, 39, 71, 0.4);
}
.timeline__infoLine {
  height: 3rem;
  border-left: 2px solid rgba(136, 150, 223, 0.2);
  margin-left: 2.3rem;
}
