
.customerchat {

}
.customer__container {
  display: flex;
  border-bottom: 1px solid rgba(136, 150, 223, 0.2);
  height: 5rem;
  align-items: center;
  padding: 0 0.2rem;
}
.customer__avatar {
  flex: 0.3;
  object-fit: contain;
  padding: 0 0.45rem;
}
.customer__info {
  color: white;
  text-align: left;
  flex: 1;
  flex-wrap: wrap;
  overflow: hidden;
}
.customer__info > h4 {
  font-weight: 500;
}
.customer__info > p {
  font-size: 12px;
  padding-left: 5px;
}
.customer__message__count {
  color: white;
  background-color: #45b1c0;
  padding: 0.5rem;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.customer__message__count > h5 {
  margin-top: -1px;
}
.customer__avatar > .MuiAvatar-root {
  border: 2px solid rgb(0, 204, 255);
  border-radius: 1rem !important;
}
a {
  outline: none;
  text-decoration: none;
}
