.login {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
.login__input {
  /* margin: 0 1rem; */
}
.login > img {
  object-fit: contain;
  height: 7.9rem;
  margin-top: 1.3rem;
}
.login > form {
  display: flex;
  flex-direction: column;
}
.login > form > input {
  width: 20rem;
  height: 3.125rem;
  font-size: 1.125rem;
  padding-left: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  outline-color: gray;
}
.login > form > Button {
  width: 20.8rem;
  height: 3.125rem;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  background-image: linear-gradient(to bottom, #5a68a5, #4556a0, #3e4c88);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.login__register {
  color: #0074b1;
  cursor: pointer;
}
.login > form > p {
  margin-top: 0.6rem;
  color: #5a68a5;
}

.MuiPaper-root {
  position: relative;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .login > form > input {
    width: 15rem;
  }
  .login > form > Button {
    width: 15.8rem;
  }
}
