* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(61, 71, 117); */
  background: #2b3358;
  background-image: linear-gradient(#404b7a, #2b3358, #2b3358);

  overflow: hidden;
}

.app {
  text-align: center;
}
.app__main {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.dummy {
  opacity: 0;
}
