* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(61, 71, 117);
}

.app {
  text-align: center;
  
  /* position: relative; */
}
/* .app__main{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 0.8;
} */

.chatMessage {
  color: red;
}
.dummy {
  padding-bottom: 4rem;
}
/* 
.app_form {
  padding: 20px;

  position: fixed;
  bottom: 0;
  z-index: 1;
  border: 2px solid red;
  display: flex ;
  width: 100%;
  background-color: rgba(7, 20, 63, 0.1);
  backdrop-filter: blur(4px);
}
.app_formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1 !important;
}
.app__iconButton {
  flex: 0 !important;
} */
