.message {
  text-align: left !important;
  /* padding:0 10px; */
  margin: 20px 10px;
  width: fit-content;
}
.message_user {
  text-align: left !important;
  margin-left: auto;
  color: red !important;
}
.message_guest_card {
  background: rgba(233, 232, 232, 0.2) !important;
  /* background: rgba(22, 28, 71,.7) !important; */
  border-radius: 1rem !important;
  box-shadow: -1px -1px 8px -8px #e9e8e8, inset -2px -2px 8px -6px #e9e8e8 !important;
  /* box-shadow: -2px -2px 8px 5px rgb(0, 0, 2) inset -2px -2px 8px -6px rgba(2, 4, 20, 1) !important; */
  float: right !important;
  margin-left: 1rem !important;
}
.message_user_card {
  background: rgb(0 132 255) !important;
  border-radius: 1rem !important;
  backdrop-filter: blur(10px) !important;
  background-color: rgba(53, 64, 109, 0.03) !important;
  box-shadow: -2px -2px 8px -6px #bbc2d1, inset -2px -2px 8px -6px #bbc2d1 !important;
  float: left !important;
  margin-right: 1rem !important;
}

.typography_guest_card,
.typography_user_card {
  font-size: 1.2rem !important;
  line-height: 1.5 !important;
  letter-spacing: 0.5px !important;
  padding: 5px 10px;
}
.typography_guest_card {
  color: white !important;
}
.typography_user_card {
  color: #fff !important;
}
